<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern Signup</title>
    <link rel="stylesheet" href="{% static "css/intern/signup.css" %}">
</head>
<body>
    <div class="container">
        <h2>Intern Signup</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Signup</button>
        </form>
        <p>Already have an account? <a href="{% url 'intern_login' %}">Login here</a></p>
    </div>
</body>
</html>
